# .dockerignore file for DAOS.

# Firstly deny everything and then allow only directories and files that we're
# interested in.  Other files will not be required for the build and they
# just generate noise and extra work for docker.
*
!packaging/scripts
!packaging/*