#!/usr/bin/make -f

include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

configure_providers = \
	--enable-sockets \
	--enable-tcp \
	--enable-verbs \
	--enable-rxm \
	--enable-shm \
	--disable-static \
	--disable-opx \
	--disable-usnic \
	--disable-efa \
	--disable-dmabuf_peer_mem \
	--disable-hook_hmem \
	--disable-hook_debug \
	--disable-trace \
	--disable-perf \
	--disable-rstream \
	--disable-rxd \
	--disable-mrail \
	--disable-udp \
	--disable-psm \
	--disable-psm2 \
	--disable-psm3 \
	--disable-gni \
	--disable-bgq \
	$(NULL)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(configure_providers)

override_dh_missing:
	find debian/tmp -name libfabric.la -delete
	dh_missing --fail-missing

override_dh_strip:
	dh_strip --dbgsym-migration='libfabric1-dbg (<< 1.5.2)'
